.navbarr {
  padding-left: 50px;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-items li {
  margin-right: 50px;
}

.nav-items a {
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}
.nav-items a:after {
  display: block;
  content: "";
  border-bottom: solid 3px #36ab6e;
  padding-bottom: 4px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav-items a:hover:after {
  transform: scaleX(1);
}

.image {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../assets/map.jpg");
  height: 600px;
}

.container {
  height: 100%;
}

.text-holder {
  width: 50%;
  justify-content: center;
  padding-left: 15%;
}

.text-holder h1 {
  font-size: 4.3em;
  color: var(--theme-color);
}

.text-holder h4 {
  color: var(--theme-purple);
  font-weight: normal;
  font-size: 2.4em;
}

.text-holder button {
  background-color: var(--theme-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 35px;
}

.text-holder a {
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--theme-purple);
  color: white;
}

.image-holder {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-button-list {
  display: flex;
  justify-content: center;
  padding-top: 65px;
}

.hero-button-list .btn {
  margin-right: 25px;
  background-color: var(--theme-color);
  border: none;
  color: white;
  padding: 4px 12px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-button-list a {
  color: white;
  text-decoration: none;
}

.row {
  margin-right: 0px !important;
}

.main-section {
  margin-top: 100px;
}

.section {
  margin-bottom: 50px;
}

.section img {
  width: 600px;
  height: 600px;
}

.section h1 {
  font-size: 3.5em;
}

.section p {
  font-size: 1.5em;
}

.section li {
  font-size: 1.2em;
}

.section a {
  background-color: #36ab6e;
  color: white;
}

.section .left-box {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .right-box {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-b .right-box {
  padding-right: 100px;
}

.mid-section {
  height: 750px;
  background-color: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.about-us {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.about-us img {
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
  accent-color: var(--theme-color);
}

.about-us h1 {
  color: var(--theme-color);
  margin-bottom: 30px;
}

.about-us p {
  text-align: center;
  padding-left: 400px;
  padding-right: 400px;
}

.main-footer {
  background-color: var(--footer-color);
}

.main-footer i {
  color: var(--theme-color) !important;
}

.footer-bottom {
  background-color: var(--footer-bottom);
}

/*Cards Css*/

.card {
  background: var(--card-background);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 0px 30px 0px 30px;
  width: 450px;
  padding: 20px;
  text-align: center;
  color: #212529;
}

.mid-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.card img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 25px;
}
.icon {
  margin: 50px 0;
}

.features ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}

.features li {
  margin: 10px 0;
  font-size: 14px;
}

.features span {
  border-bottom: 2px dotted var(--color-btn);
}

.section3-btn {
  display: block;
  background: var(--color-btn);
  color: white;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
.section3-btn:hover {
  background: var(--theme-purple);
  color: white;
}
/* card css */

a {
  text-decoration: none;
}

.pricingTable {
  text-align: center;
  background: #fff;
  margin: 0 -15px;
  box-shadow: 0 0 10px #ababab;
  padding-bottom: 40px;
  border-radius: 10px;
  color: #cad0de;
  transform: scale(1);
  transition: all .5s ease 0s
}

.pricingTable:hover {
  transform: scale(1.05);
  z-index: 1
}

.pricingTable .pricingTable-header {
  padding: 40px 0;
  background: #f5f6f9;
  border-radius: 10px 10px 50% 50%;
  transition: all .5s ease 0s
}

.pricingTable:hover .pricingTable-header {
  background: #35A665
}

.pricingTable .pricingTable-header i {
  font-size: 50px;
  color: #858c9a;
  margin-bottom: 10px;
  transition: all .5s ease 0s
}

.pricingTable .price-value {
  font-size: 35px;
  color: #35A665;
  transition: all .5s ease 0s
}

.pricingTable .month {
  display: block;
  font-size: 14px;
  color: #cad0de
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
  color: #fff
}

.pricingTable .heading {
  font-size: 24px;
  color: #35A665;
  margin-bottom: 20px;
  text-transform: uppercase
}

.pricingTable .pricing-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px
}

.pricingTable .pricing-content ul li {
  line-height: 30px;
  color: #a7a8aa
}

.pricingTable .pricingTable-signup a {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  padding: 10px 35px;
  border-radius: 20px;
  background: #35A665;
  text-transform: uppercase;
  transition: all .3s ease 0s
}

.pricingTable .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #35A665
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
  color: #35A665;
}

.pricingTable.blue .pricingTable-signup a,
.pricingTable.blue:hover .pricingTable-header {
  background: #35A665
}

.pricingTable.blue .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #35A665
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
  color: #35A665
}

.pricingTable.red .pricingTable-signup a,
.pricingTable.red:hover .pricingTable-header {
  background: #35A665;
}

.pricingTable.red .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #35A665;
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
  color: #35A665
}

.pricingTable.green .pricingTable-signup a,
.pricingTable.green:hover .pricingTable-header {
  background: #35A665
}

.pricingTable.green .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #35A665
}

.pricingTable.blue:hover .price-value,
.pricingTable.green:hover .price-value,
.pricingTable.red:hover .price-value {
  color: #fff
}

@media screen and (max-width:990px) {
  .pricingTable {
      margin: 0 0 20px
  }
}