.forgetPassword{
    display: flex;
    justify-content: center;
    min-height: 100vh;

}
.forgetPassword1{
    flex: 75%;
    padding: 2%;

}
.forgetPassword2{
    padding: 6%;
    flex: 25%;
    background-color: var(--btn-color);
    text-align: center;
}
.forgetPasswordContent{
      text-align: center;
      padding: 14% 0;
      margin: auto;
      
}
.forgetPassword2text{
    text-align: center;
    padding: 60% 0;
    margin: auto;
}
.forgetPassword2text .btn-primary{
    padding-left: 3%;
    padding-right: 3%;
    font-size: small;
    background-color:var(--btn-color);
    border: 1px solid white;
}
.forgetPasswordButton .btn-primary{
    padding-left: 3%;
    padding-right: 3%;
    font-size: small;
    background-color:var(--btn-color);
    border: 1px solid white;
}
/* colors */
.forgetPassword2text p{
    color: white;
   }
.forgetPassword2text h2{
       color: white;
   }
.forgetPasswordContent h2 {
      color: var(--btn-color);
      font-weight: bold;
   }
